/* BYU-Idaho Campus Map Custom Styles */

/****************/
/* Global items */
/****************/
html {
	margin:0;
  height: 100%;
  width: 100%;
	font: 14px/1.3em Helvetica, Arial, Verdana, sans-serif;
	
	-webkit-text-size-adjust:90%;
	zoom:1;
	position:relative;
	// overflow:hidden;
	// overflow-x:hidden;
	// overflow-y:hidden;
}
body{
	height: 100%;
  width: 100%;
	margin:0;
	height:inherit;
	width:inherit;
	//background: #474747 url(../img/interface/gray_speckle.png);
}
a {
    outline: 0;
}
a img{
	border:none;
}


/************************************************************/
/*                                                          */
/*  Global classes                                          */
/*                                                          */
/************************************************************/
.hide{
	display:none;
	-webkit-transform: translateZ(0);

}
.unhide{
	display:block;
	-webkit-transform: translateZ(0);

}
.contract{
	height:0;
	-webkit-transform: translateZ(0);
}
.expand{
	height:100%;
	-webkit-transform: translateZ(0);
}
.scrolling {
	overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scrolling * {
  -webkit-transform: translate3d(0,0,0);
}
.box {
	margin: 0 0 18px;
	padding: 13px 22px 0;
	border: 1px solid #EAEAEA;
	border-color: #F8F8F8 #EAEAEA #D4D4D4;
	background-color: #FAFAFA;
	.box_gradient_3stop(#fff, #fefefe, #f2f2f2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	zoom: 1;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);
}

/************************************************************/
/*                                                          */
/*  Mobile and global styles                                */
/*  - "Mobile-First Strategy"                               */
/*  - Everything is light and mobile-optimized by default,  */
/*  - then can be progressively enhanced for desktops       */
/*  - once detected.                                        */
/*                                                          */
/************************************************************/
	
	/************************************************************/
	/*                                                          */
	/*  Loading Screen                                          */
	/*  - Stays on top until all init scripts                   */
	/*  - have completed                                        */
	/*                                                          */
	/************************************************************/
	#loading{
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 3;
		background: white;
		background-image:url(../img/interface/white_speckle.jpg);
		box-shadow: inset 0px 0px 80px rgba(60, 60, 60, 0.6);
	}
	#loading_text{
		text-align: center;
		margin: 130px auto 0px;
		color: #333;
		font-size:18px;
	}
	#loading_img{
		margin: 15px auto 0;
		display: block;
	}
	/************************************************************/
	/*                                                          */
	/*  Heading bar                                             */
	/*  - contains the heading/branding,                        */
	/*  - as well as the menu toggle button                     */
	/*                                                          */
	/************************************************************/
	#title{
		color: white;
		height: 57px;
		display: block;
		margin:0 auto;
		position:relative;
		background:@byui_dark_blue;
		border-bottom: 1px solid #2b3e4d;
		background:url(../img/interface/title_bg.png);
		background-repeat:repeat-x;
		// .box_gradient_3stop(#3a5284, #2d416a, #202f4f);
	}
	// .no-cssgradients #title{
	// 	background:url(../img/interface/title_bg.png);
	// 	background-repeat:repeat-x;
	// }
	#heading{
		margin:0;
		text-align: center;
		color:#fff;
		font-weight: 100;
		font-size: 25px;
		text-shadow: 0 1px 0 #333;
		padding: 20px 0 10px;
	}
	#device_type{
		display: block;
		position: absolute;
		top: 12px;
		left: 11px;
		background:url(../img/interface/device-type-sprite.png);
		background-position:0 0;
		background-repeat:no-repeat;
		width: 32px;
		height: 32px;
	}
	#mobile #device_type{
		-webkit-transform: translate3d(0, 0, 0);
		.transition(background-position,300ms);
		background-position:0 0;
	}
	#desktop #device_type{
		-webkit-transform: translate3d(0, 0, 0);
		.transition(background-position,300ms);
		background-position:0 -32px;
	}
	#menu_button{
		display: block;
		position: absolute;
		top: 12px;
		right: 11px;
		width:50px;
		color: #222;
		text-decoration: none;
		padding: 6px;
		font-size:14px;
	}

	/***********************************/
	/*                                 */
	/*  Lower Container                */
	/*  - will contain the map canvas  */
	/*  - and the category menu        */
	/*                                 */
	/***********************************/
	#container{
		height: 100%;
    width: 100%;
		display: block;
		position:absolute;
		color:black;
		overflow:auto;
	}
	#menu{
		-webkit-transform: translate3d(0, 0, 0);
		display:none;
		// display:block;
		z-index: 2;
		position: absolute;
		.transition(width,200ms);
		width: 100%;
		right: 0;
		background-color: #202126;
		background-image:url(../img/interface/light_speckle.png);
		color:#9da0ab;
		border-left: 1px solid #2b3e4d;
	}
	#inner_menu{
		// padding:20px;
		width:100%;
		overflow:hidden;
	}
	#menu_title {
		margin:0 0 10px;
	}
	.category{
		display:block;
		border-top:1px solid #64676e;
		border-bottom: 1px solid #1a1d24;
	}
	.category_bar{
		display:block;
		cursor:pointer;
		position: relative;
		clear: both;
		text-decoration: none;
		background:#33383e;
		.box_gradient_3stop(#43464d, #33383e, #32353c);
		.box_gradient_3stop(rgba(67,70,77, 0.8), rgba(51,56,62, 0.8), rgba(50,53,60, 0.8));
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
	}
	.cat_icon{
		top: 3px;
		position: relative;
		margin: 5px;
	}
	.category_name{
		position: relative;
		top: -8px;
		font-size: 20px;
		text-decoration: none;
		color: #EEE;
		font-weight: 100;
	}
	.cat_info{
		padding:8px 25px 20px;
		color:#ddd;
		a{
			color:#4ca4fb;
		}
	}
	.cat_container{
		display:none;
		overflow: hidden;
		margin-bottom: 20px;
	}
	#map_canvas {
	  width: 100%; 
	  height: 100%;
	  position:absolute;
	  z-index:1;
	}
	#notification{
		display:block;
		position:fixed;
		bottom:9px;
		left:3px;
		margin:0;
		z-index:1;
	}
	#feedback{
		color: #222;
		text-decoration: none;
		padding: 7px 13px 7px;
		font-size:14px;
	}
	#updated{
		font-size:9px;
		color:white;
		text-shadow:0 1px 3px #333;
		padding-left: 21px;
		line-height: 1.3em;
	}
	.object{
		display:block;
		.clearfix();
    text-decoration:none;
    color:#ddd;
    margin:2px 5px;
    padding:2px;
    background:#4e5360;
		.box_gradient_3stop(#4e5360, #3b3f4a, #32353e);
		//.box_gradient_3stop(rgba(121,126,139, 0.8), rgba(109,114,125, 0.8), rgba(50,53,60, 0.8));
		border-radius:4px;
		border-top: 1px solid #555;
		border-bottom: 1px solid black;
	}
	.object:hover,
	.object:active,
	.object.active{
		background:#d1d5e3;
		color:#111;
		text-shadow:none;
		//.box_gradient_3stop(#d1d5e3, #a7aab4, #a7aab4);
		//.box_gradient_3stop(rgba(121,126,139, 0.8), rgba(109,114,125, 0.8), rgba(50,53,60, 0.8));
	}
	.obj_icon{
		float:left;
		display:block;
		margin-right:5px;
	}
	.object_name{
		display:block;
		float:left;
		margin:3px 0 4px;
		width: 75%;
		font-size: 15px;
		padding: 1px;
	}

//exceptions for very narrow screens:
@media only screen and (max-width: 460px) {
	#heading{
		margin: 0 0 0 37px;
		text-align: left;
		font-size: 20px;
	}
	#device_type{
		left: 4px;
	}
}

/**************************************/
/*                                    */
/*  Desktop style overwrites          */
/*  - "Mobile-First"                  */
/*  - Desktop rules overwrite         */
/*  - specific style changes          */
/*  - targeted at just desktop users  */
/*                                    */
/**************************************/

#desktop{
	font: 13px/1.3em Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	// text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.9);
	#container{
		overflow:hidden;
	}
	#heading{
	}
	#loading{

	}
	#loading_text{
		text-shadow: 1px 1px 2px #777;
	}
	#menu{
		width:250px;
		height: 100%;
		overflow: auto;
		// box-shadow: inset 10px 0px 30px #121212;
		box-shadow: inset 10px 0px 40px #111;
	}
	.category_name{
		top: -8px;
		font-size: 15px;
	}
	.cat_info{
		font-size:13px;
	}
	.cat_icon{
		height:20px;
		margin:5px 3px 5px 5px;
	}
	.object{

	}
	.obj_icon{
		margin:1px 5px 2px;
	}
	.object_name{
		width: 200px;
		font-size:12px;
		padding:0;
	}
	#map_canvas {
	}
}

