/*map3.less*/
/*VARIABLES BEGIN*/
/* Identity Color Values */
/* Basic colors */
/*@byui_med_blue:#007ebd;*/
/* Identity Range 2011*/
/* Monochromatic set */
/* Shade Variations */
/*VARIABLES END*/
/*MIXINS BEGIN*/
/* Some naming discrepancies caused our pages to be made using _ and - in the mixin call for box-shadow, so keep both functions the same */
/*MIXINS END*/
html {
  height: 100%;
  font-family: helvetica, arial, sans-serif;
  font-size: 10px;
  overflow: hidden;
  /*font-smooth:always;
	-webkit-font-smooth:antialiased;
	-webkit-font-smoothing:subpixel-antialiased;*/

}
body {
  height: 100%;
  /*width:100%;*/

  margin: 0;
  padding: 0;
  overflow: hidden;
}
header,
footer {
  display: block;
  clear: both;
  width: 100%;
  background: #333;
}
::selection,
::-moz-selection {
  background: #056CB6;
}
/*@import 'header.less';*/
#map_canvas {
  float: left;
  display: block;
  height: 100%;
  width: 100%;
}
#menu {
  display: block;
  background: #326BA9;
  float: right;
  width: 240px;
  list-style: none;
  padding: 10px;
  height: 100%;
  overflow: auto;
  position: relative;
  box-shadow: 0px 0px 20px #000;
}
#menu > a {
  text-decoration: none;
  display: block;
  margin: 10px 0 20px;
  position: relative;
}
#menu > a > img {
  float: left;
  padding-left: 5px;
}
#menu #menu_tab {
  display: none;
}
#menu #title {
  text-shadow: 2px 2px 7px #111;
  font-size: 23px;
  color: white;
  padding: 0 0 0 8px;
  margin: 0px;
  font-weight: 300;
  display: inline;
}
#menu h2 {
  margin-left: 10px;
}
#menu .marker_category {
  clear: both;
  display: block;
  margin: 15px 0;
  /*padding: 4px 10px;*/

  /*border: 1px solid #DDD;
		background: white;*/

  box-shadow: 0px 2px 10px #555;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #606060;
  overflow: hidden;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
}
#menu .marker_category img.cat_icon {
  position: relative;
  left: 0px;
  top: 0px;
  margin-right: 10px;
  top: -3px;
}
#menu .marker_category span.cat_indicator {
  float: right;
  top: 14px;
  position: absolute;
  right: 17px;
  width: 10px;
  height: 6px;
  cursor: pointer;
  background: url('../images/interface/toggle_arrow-3.png') no-repeat;
  background-position: 0 0;
}
#menu .marker_category span.cat_indicator.active {
  background-position: 0 -6px;
}
#menu .marker_category > a {
  color: #333;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin: 6px 0;
  padding: 6px 3px 1px;
  text-decoration: none;
  position: relative;
  text-shadow: 0px 1px 0px white;
  outline: none;
}
#menu .marker_category > a:hover,
#menu .marker_category > a:active,
#menu .marker_category > a:visited {
  outline: none;
  border: 0px;
}
#menu .marker_category div {
  border-top: 1px dashed #DEDEDE;
  background: #EFEFEF;
}
#menu .marker_category div.hidden {
  display: none;
  visibility: hidden;
}
#menu .marker_category div.cat_description {
  margin-bottom: 5px;
  padding: 10px 10px 0px;
}
#menu .marker_category div .inner_desc {
  border: 1px solid #dedede;
  background: white;
  padding: 10px;
  color: #888;
  font: 11px/134% Helvetica, Arial, sans-serif;
  border-radius: 5px;
}
#menu .marker_category div .inner_desc a.cat_link {
  display: block;
  margin-top: 5px;
}
#menu .marker_category img {
  width: 20px;
  padding-left: 10px;
  margin-top: 5px;
}
#menu .marker_category span.object_name,
#menu .marker_category span.polygon_name {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin-top: 5px;
  min-height: 17px;
  padding: 4px 0 12px;
  text-shadow: 0px 1px 0px white;
}
#menu .marker_category span.object_name:hover,
#menu .marker_category span.polygon_name:hover {
  text-shadow: none;
}
#menu .marker_category .polygon_list .polygon_key {
  width: 20px;
  height: 19px;
  float: left;
  margin: 5px 0px 5px 10px;
  border: 2px solid;
}
#menu .marker_category .polygon_list img {
  padding: 2px 0px 2px 9px;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0 0 5px 0;
}
#menu ul.object_list li {
  padding-top: 5px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
#menu ul.object_list li:hover,
#menu ul.object_list li.active_item {
  background: #999;
  text-shadow: none;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}
#menu ul.object_list li:hover span,
#menu ul.object_list li.active_item span {
  text-shadow: none;
}
#menu ul.polygon_list li span {
  padding-top: 0;
}
#menu #feedback {
  color: white;
  text-align: center;
  font-size: 12px;
  display: block;
}
#menu #updated {
  text-align: center;
}
.infopane {
  display: block;
  /*height:inherit;
	width:inherit;*/

  padding: 10px;
}
.infopane img {
  float: right;
  margin: 0px 10px 10px 10px;
}
.infopane div {
  display: block;
  /*height: inherit;*/

  position: relative;
}
.infopane#campustour_info {
  min-height: 350px;
}
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -moz-linear-gradient(top, #ffffff, #ededed);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.ie9 #menu .marker_category,
.ie8 #menu .marker_category,
.ie7 #menu .marker_category {
  border-radius: 0px;
}
/* #Mobile View */
#mobile #map_canvas {
  width: 100%;
  position: absolute;
}
#mobile #menu {
  width: 80%;
  position: absolute;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: right 500ms linear;
  -moz-transition: right 500ms linear;
  -ms-transition: right 500ms linear;
  -o-transition: right 500ms linear;
  transition: right 500ms linear;
  overflow: scroll !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  border-left: 3px solid silver;
}
#mobile #menu #title {
  text-shadow: none;
  top: 5px;
  position: relative;
}
#mobile #menu #menu_container {
  overflow: scroll;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  display: block;
  position: relative;
  height: 95%;
  padding: 0 0 10px;
}
#mobile #menu #menu_container .marker_category {
  background: white;
  box-shadow: none;
}
#mobile #menu #menu_container .marker_category:hover {
  background: white;
}
#mobile #menu #menu_container .marker_category:active {
  background: white;
}
#mobile #menu #menu_container .marker_category .inner_desc {
  font-size: 12px;
}
#mobile #menu #menu_container .object_name,
#mobile #menu #menu_container .polygon_name {
  font-size: 14px;
  padding: 2px 0 12px;
  text-shadow: none;
}
#mobile #menu #menu_tab {
  width: 95px;
  height: 100px;
  position: absolute;
  display: block;
  left: -95px;
}
#mobile #menu #menu_tab:hover {
  cursor: pointer;
}
#mobile #menu #menu_tab #inner_tab {
  display: block;
  position: relative;
  height: 100%;
  left: 50px;
  width: 42px;
  border-radius: 10px 0px 0px 10px;
  border-top: 3px solid silver;
  border-left: 3px solid silver;
  border-bottom: 3px solid silver;
  box-shadow: -10px 0px 11px rgba(0, 0, 0, 0.5);
  background: #326BA9;
  /* Old browsers */

  background: -moz-linear-gradient(left, #649ae0 0%, #326ba9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #649ae0), color-stop(100%, #326ba9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, #649ae0 0%, #326ba9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #649ae0 0%, #326ba9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #649ae0 0%, #326ba9 100%);
  /* IE10+ */

  background: linear-gradient(to right, #649ae0 0%, #326ba9 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#649ae0', endColorstr='#326ba9', GradientType=1);
  /* IE6-9 */

}
#mobile #menu #menu_tab #inner_tab #arrow {
  position: relative;
  top: 37px;
  left: 15px;
  width: 13px;
  height: 22px;
  overflow: hidden;
  background-image: url(../images/interface/menu-open-tab.png);
  background-repeat: no-repeat;
  background-position: -13px 0px;
}
#mobile #menu.closed #menu_tab #arrow {
  background-position: 0px 0;
  left: 12px;
}
.spammy-indicator {
  color: black !important;
}
