/****************/
/* Global items */
/****************/
html {
  margin:0;
  height: 100%;
  width: 100%;
  font: 14px/1.3em Helvetica, Arial, Verdana, sans-serif;
  -webkit-text-size-adjust:90%;
  zoom:1;
  position:relative;
  overflow:hidden;
}
body{
  height: 100%;
  width: 100%;
  margin:0;
  height:inherit;
  width:inherit;
  background-color: #111;
}
a {
    outline: 0;
}
a img{
  border:none;
}